.shoppingContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #C198B8 ;

}

.shoppingGrid{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
  }