#shopItem, #shopItem:visited{
    display:flex;
    flex-direction: column;
    background-color: #496165;
    padding:20px;
    color:white;
    text-decoration: none;
  }

#shopItem:hover{
  color: #C0BECC;
}
  
  .itemImageContainer{
    position: relative;
  }
  .itemImageContainer::after{
    content:"";
    display: block;
  }
  
  .itemThumb{
    display: absolute;
    width:250px;
    height: 250px;
    object-fit: cover;
  }
  
  .itemImage{
    display: absolute;
    width:500px;
    height: 500px;
    object-fit: cover;
  }