
.navigationBar{
    display:flex;
    justify-content: space-between;
    background-color: #496165;
    border: 1px solid  #496165;
    border-radius: 4px;
    
  }

  .rightNavigationBar{
    display: flex;
    align-items: center;
    margin-right:20px;
  }

 #navigationBarItem, #navigationBarItem:visited{
  margin-left:20px;
  text-decoration: none;
  color: white;
 }

 #navigationBarItem:hover{
  color: #C0BECC;
}
 
.badge{
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #C198B8;
}

#quantity_in_cart{
  font-size: 12px;
  background: #B76F94;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
} 