
.itemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }
  .itemDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .itemDetails .itemPrice{
    color: #496165;
    font-size: larger;
    padding-bottom: 10px;
  }
  .btnBack{
    margin-top:20px;
    padding:5px;
  }
  .itemDetails .line{
    border-bottom: 5px solid #496165;
    margin-top: 20px;
    margin-bottom:20px;
    width: 90%;
  }
  button{
    margin-right: 10px;
  }