
.navigationBar{
  display:flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
}
.rightNavigationBar{
  display: flex;
  align-items: center;
}

.shoppingGrid{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.shopItem{
  display:flex;
  flex-direction: column;
  background-color: #496165;
  padding:20px;
}

.itemContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.itemDetails{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.itemDetails .itemPrice{
  color: green;
  font-size: larger;
  padding-bottom: 10px;
}
.btnBack{
  margin-top:20px;
  padding:5px;
}
.itemDetails .line{
  border-bottom: 5px solid grey;
  margin-top: 20px;
  width: 90%;
}

.itemInfo, .itemInfo:visited{
  color: white;
  text-decoration: none;
}

.itemInfo:hover{
  color: #C198B8;
}



.itemImageContainer{
  position: relative;
}
.itemImageContainer::after{
  content:"";
  display: block;
}

.itemThumb{
  display: absolute;
  width:250px;
  height: 250px;
  object-fit: cover;
}

.itemImage{
  display: absolute;
  width:500px;
  height: 500px;
  object-fit: cover;
}