#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.shoppingContainer{
  background-color: #C0BECC;
}
.shoppingGrid{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.shopItem{
  display:flex;
  flex-direction: column;
  background-color: #496165;
  
}

.itemImageContainer{
  display: flex;
  width: fit-content;
  padding:20px;
}